// @author: 김영우
// @description:
//    * @media 단위 px값 변수 파일 입니다.

// Extra Small
$media__maxWidth_xs: 600px;
// Small
$media__maxWidth_sm: 960px;
// Medium
$media__maxWidth_md: 1264px;
// Large
$media__maxWidth_lg: 1904px;