// @author: 김영우
// @description
//    * 색상 변수 파일 입니다.
//    * 전역 @import 로 사용 합니다.

// White 계열
$colors__white_01: #FFFFFF;

// Black 계열
$colors__black_01: #383841;
$colors__black_02: #67676B;

// Gray 계열
$colors__gray_01: #F1F1F1;
$colors__gray_02: #E8E8E8;
$colors__gray_03: #C4C4C4;

// Blue 계열
$colors__blue_01: #0000ff;
$colors__blue_02: #03A9F4;
$colors__blue_03: #a0bae1;

// Green 계열
$colors__green_01: #006400;
$colors__green_02: #83CD69;
$colors__green_03: #E6F5E1;

// Orange 계열
$colors__orange_01: #E25C00;
$colors__orange_02: #FFEFD7;

// Pink 계열
$colors__pink_01: #F2C6E7;

// Purple 계열
$colors__purple_01: #ccd7fc;