// @author: 김영우
// @description
//    * 색상 변수 파일 입니다.
//    * 전역 @import 로 사용 합니다.

// White 계열
$colors__white_01: #FFFFFF;

// Black 계열
$colors__black_01: #383841;
$colors__black_02: #67676B;

// Gray 계열
$colors__gray_01: #F1F1F1;

// Blue 계열
$colors__blue_01: #03A9F4;
$colors__blue_02: #A0BAE1;

// Green 계열
$colors__green_01: #83CD69;
$colors__green_02: #E6F5E1;

// Orange 계열
$colors__orange_01: #FFEFD7;