// @author: 김영우
// @description:
//    * Font 변수 파일 입니다.

$fontSize_80: 80px;
$fontSize_50: 50px;
$fontSize_32: 32px;
$fontSize_30: 30px;
$fontSize_24: 24px;
$fontSize_20: 20px;
$fontSize_18: 18px;
$fontSize_16: 16px;